version: '3.8'

services: 
    db:
        build: .docker/postgres
        container_name: video-catalog-db
        restart: always
        tty: true
        volumes: 
            - .docker/postgres/db:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=video-catalog
            - POSTGRES_PASSWORD=podman
        ports: 
            - 5432:5432
        networks:
            - app-network
    app:
        build: .
        container_name: video-catalog-app
        entrypoint: ./entrypoint.sh
        restart: always
        env_file:
            - .env
        tty: true
        environment:
            - DB_HOST=db
            - DB_DATABASE=video-catalog
            - DB_USER=postgres
            - DB_PASS=podman
        volumes: 
            - .:/app
            - /app/node_modules
        ports: 
            - 3000:3000
        networks:
            - app-network
        depends_on:
            - db
    
    

    nginx:
        build: .docker/nginx
        container_name: micro-videos-nginx
        restart: always
        tty: true
        ports:
            - "8000:80"
        volumes:
            - .:/var/www
        networks:
            - app-network
        depends_on:
            - app